    body {
        font:10px Verdana,sans-serif;
    }

    .box {
        z-index:100;
        width:100px; height:100px;
        border:1px solid silver;
        background: #eee;
        text-align:center;
        color:#333;
        font-style:italic;
        font-size:200%;
    }

    .dropbox {
        position:absolute;
        border:5px solid black;
        background:rgb(44,162,95);
        text-align:center;
        color:#333;
    }

    .fulldropbox {
        position:absolute;
        border:5px solid black;
        background:rgb(44,162,95);
        text-align:center;
        opacity:0.1;
        color:#333;
    }

    .mouseoverdropbox {
        position:absolute;
        border:5px solid black;
        background:rgb(153,216,201);
        text-align:center;
        color:#333;
    }
    span.alignment_letters {font-family: "monospace"; font-style:italic; font-size:200%; font-color:green; color: green; background-color: white}
    span.ident {font-family: "monospace"; font-size:200%; color: black; background-color: "white"}
    span.diff {font-family: "monospace"; font-size:200%; color: #FFFFFF; background-color: #000000}
    span.sim {font-family: "monospace"; font-size:200%; color: #FFFFFF; background-color: #666666}
    span.g, span.a, span.v, span.l, span.i {font-family: "monospace"; font-size:200%; color: #000000; background-color: #C0C0C0}
    span.f, span.y, span.w {font-family: "monospace"; font-size:200%; color: #000000; background-color: #FF6600}
    span.c, span.m {font-family: "monospace"; font-size:200%; color: #000000; background-color: #FFFF00}
    span.s, span.t {font-family: "monospace"; font-size:200%; color: #000000; background-color: #66FF00}
    span.k, span.r, span.h {font-family: "monospace"; font-size:200%; color: #000000; background-color: #FF0000}
    span.d, span.e {font-family: "monospace"; font-size:200%; color: #000000; background-color: #0066FF}
    span.n, span.q {font-family: "monospace"; font-size:200%; color: #000000; background-color: #996633}
    span.p {font-family: "monospace"; font-size:200%; color: #000000; background-color: #FF99FF}


